altgraph==0.17
anyio==3.4.0
appnope==0.1.0
asgiref==3.4.1
attrs==20.1.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==3.1.12
django-allauth==0.45.0
django-ckeditor==6.0.0
django-colorfield==0.4.1
django-cors-headers==3.7.0
django-crispy-forms==1.9.0
django-crispy-forms-registration==0.1.3
django-filter==2.4.0
django-google-analytics-app==5.0.3
django-js-asset==1.2.2
django-registration==3.1
django-registration-redux==2.8
django-rest-framework==0.1.0
django-tinymce==3.1.0
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
Jinja2==2.11.2
Markdown==2.6.6
MarkupSafe==1.1.1
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.20
nomics-python==3.2.0
Pillow==8.2.0
PyMySQL==0.9.3
requests==2.24.0
uvicorn==0.16.0
